table {
    border: 5px solid black;
}

td {
    border: 2px solid black;
    text-align: center;
}

.displayClass {
    background-color: darkgray;
    border: 0px solid white;
    text-align: right;
}

.buttonData {
    background-color: blue;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
}

.buttonOperation {
    background-color: red;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
}